<%- include ./partials/_header.ejs %>

<form class="form-inline" action="/urls/<%= shortURL %>/update" method="POST">
    <li>Short URL : <%= shortURL %></li>
    
    <input class="form-control" type="text" name="longURL" placeholder="<%= longURL %>" value="<%= longURL %>"style="width: 300px; margin: 1em">
      <button type="submit" class="btn btn-primary">Update</button>
</form>
</body>
</html>
